# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Data files (VERY IMPORTANT)
data/

# Scrapers / experiments
scrapesample/


# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env